@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Playfair+Display&display=swap');
.body
{
   background-image: url("images/1.jpeg");
}

.logo
{
    background-color: #ffe6c3;
    min-height: 60px;
    padding: 0;
    margin: 0;
}

.g20
{
    width: 90px;
    position: relative;
    left: 870px;
}
.header{
   max-height: 150px;
   background-color: #ffe6c3;
   opacity: 0.6;
   margin: 5px 170px 0 170px;
}
.title
{
    width: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 77px;
    right: 20px;
}
.t1{
    font-size: 9rem;
    position: relative;
    bottom: 25px;
    right: 95px;
    font-family: 'Playfair Display', serif;
}
.tree
{
    width: 120px;
    position: relative;
    left: 235px;
}
.item1{
    background-color: red;
}
.item2
{
    background-color: blue;
}
.main
{
    min-height: 700px;

}
.footer
{
    min-height: 100px;
   
}
